nav{
    background-color: #F55A5A;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    height: 51px;
}

.globe{
    width: 25px;
    height: auto;
    padding-right: 10px;
}